{
    "keys": [
        "12345",
        "67890"
    ],
    "ips": [
        "*.*.*.*"
    ],
    "emails": [
        "gilles.rasigade@gmail.com",
        "caroline.rasigade@gmail.com"
    ],
    "users": {
        "gilles.rasigade@gmail.com": {
            "admin": true,
            "base": "../Mesh tests"
        }
    },
    "servers": {
        "local": {
            "api": "http://localhost:8080/12345"
        },
        "19": {
            "api": "http://192.168.0.19:8080/12345"
        }
    },
    "ssl": {
        "key": false,
        "cert": false
    },
    "port": 8080,
    "base": "../",
    "types": {
        "image": "\\.(png|jpe?g)$",
        "video": "\\.(mp4|ogg|webm|avi|mov)$"
    },
    "cmode": "0755",
    "tmp": "/tmp/fsapi"
}