<div class="container" id="doc">

    <h1>Mesh²</h1>
    
    <p>Mesh² is an open-source application for managing pcitures, videos and any other file, remotely without having to install any software.</p>
    
    <p>
        The application is fully secured and users can manage permissions easily.
    </p>
    
    <h2 id="features">Features</h2>
    
    <h3>Secured media server</h3>
    
    <ul>
        <li>OAuth 2.0 authentication through Google services</li>
        <li>User IP filtering capability</li>
        <li>Accessible over encrypted HTTPS</li>
    </ul>
    
    <h3>Directories</h3>
    
    <ul>
        <li>Navigate through directories</li>
        <li>Create new directories</li>
        <li>Rename directories</li>
        <li>Download its content</li>
        <li>Remove old ones</li>
    </ul>
    
    
    <h3>Images</h3>
    
    <ul>
        <li>View your prefered photos in a clear and efficient grid</li>
        <li>Automatic pictures orientation based on camera meta data</li>
        <li>Manual photos rotating by +90°, -90° or 180°</li>
    </ul>
    
    <h3>Videos</h3>
    
    
    
    <h2 id="faq">FAQ</h2>

    <dl>
      <dt>What does Mesh² mean ?</dt>
      <dd>
          <p>Mesh² means Media Server For Humans.</p>
      </dd>
      
      <dt>Where are my files stored ?</dt>
      <dd>
          <p>Where you want in fact. Mesh² is a web-based user interface which helps you accessing your files where ever you stored them.</p>
          <p>Any server with the backend API available will be compatible and accessible right here.</p>
      </dd>
      
      <dt>Can I manage my medias such as on my computer ?</dt>
      <dd>
          <p>You can create folders and organize your albums exactly the same way you would do it on your computer.</p>
          <p>The difference is that your files are stored on a server where files can be automatically backed up and where your most beautiful pictures are accessible from any device connected to the Internet.</p>
      </dd>
      
      
    </dl>
    
    <h2 id="about">About</h2>
    
    <p>About Mesh²</p>
    
    <h2 id="privacy">Security and privacy</h2>
    
    <p>Security and privacy</p>

</div> <!-- /container -->
