
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
</style>

<div class="container">

    <div class="form-signin">

        <h2 class="form-signin-heading">Please sign in</h2>

        <login></login>

    </div>

</div> <!-- /container -->

<script type="text/javascript">
    gapi.signin.go('signinButton');
</script>